@model IEnumerable<Slider>
<section class="hero-slider">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">
                    <!-- single slider item start -->
                    @foreach (Slider slider in Model)
                    {
                        <div class="hero-single-slide">
                            <div class="hero-slider-item bg-img"
                                 data-bg="assets/img/slider/@slider.SliderImg">
                                <div class="hero-slider-content slide-1">
                                    <h5 class="slide-subtitle">@slider.SlideSubtitle</h5>
                                    <h2 class="slide-title">@slider.SlideTitle</h2>
                                    <p class="slide-desc">
                                        @slider.SlideDesc
                                    </p>
                                    <a href="@slider.Link" class="btn btn-hero">SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- single slider item end -->

                </div>
            </div>
        </div>
    </div>
</section>